# 忽略所有 .zip 和 .tar.gz 文件
*.zip
*.tar.gz

bin/*

demo/build-metapushstream8-Desktop-Debug/

demo/metapushstream8/metapushstream8.pro.user.*

*/build/*

thirdparty/lib/
thirdparty/libsrtp-2.4.2/
thirdparty/libyuv-master/
thirdparty/openh264-openh264v2.6.0/
thirdparty/opus-1.3.1/
thirdparty/speexdsp-SpeexDSP-1.2.0/
thirdparty/speexdsp/
thirdparty/usrsctp-0.9.5.0/
